<% content_for :profile do %>
<%= render partial: 'profile', locals: {user: @user} %>
<% end %>

<% content_for :content do %>

<%= content_tag :em, 'No followees found.', class: 'small' if @followees.empty? %>

<div class="following list-group">
  <% @followees.each do |user| %>
  <%= render partial: 'user', locals: {user: user} %>
  <% end %>
</div>

<% end %>
