<div class="input-group">
  <input type="text" class="form-control" placeholder="Search fellowers..." aria-label="Search followers...">
  <span class="input-group-btn">
    <button class="btn btn-secondary" type="button">Go!</button>
  </span>
</div>

<br />

<div class="follower list-group">
  <% current_user.followers.order(created_at: :desc).each do |user| %>
  <div class='list-group-item d-flex justify-content-between align-items-center'>
    <div>
      <%= image_tag user.avatar_url, size: '30', class: 'rounded-circle' %>&nbsp;
      <%= user.username %>
    </div>
    <% if current_user.followings.exists?(user.id) %>
    <%= link_to 'Unfollow', unfollow_path(user), class: 'btn btn-outline-danger btn-sm', method: :delete %>
    <% else %>
    <%= link_to 'Follow', follow_path(user), class: 'btn btn-outline-primary btn-sm', method: :post %>
    <% end %>
  </div>
  <% end %>
</div>
