<div class="input-group">
  <input type="text" class="form-control" placeholder="Search for..." aria-label="Search for...">
  <span class="input-group-btn">
    <button class="btn btn-secondary" type="button">Go!</button>
  </span>
</div>

<br />

<ul class="following list-group">
  <% current_user.followings.order(created_at: :desc).each do |user| %>
  <li class='list-group-item'>
    <div class="d-flex w-100">
      <%= image_tag user.avatar_url, size: '30', class: 'rounded-circle' %>&nbsp;
      <h5 class="mb-2"><%= user.username %></h5>
    </div>
    <%= link_to 'Unfollow', unfollow_path(user), class: ['btn', 'btn-primary'], method: :delete, data: {confirm: 'Are you sure?'} %>
  </li>
  <% end %>
</ul>
