<% content_for :profile do %>
<%= render partial: 'profile', locals: {user: @user} %>
<% end %>

<% content_for :content do %>

<div class="following list-group">
  <% @followings.each do |user| %>
  <div class='list-group-item d-flex justify-content-between align-items-center'>
    <div>
      <%= image_tag user.avatar_url, size: '30', class: 'rounded-circle' %>&nbsp;
      <%= user.username %>
    </div>
    <%= link_to 'Unfollow', unfollow_path(user), class: 'btn btn-outline-danger btn-sm', method: :delete %>
  </div>
  <% end %>
</div>

<% end %>
