<% content_for :profile do %>
<%= render partial: 'profile', locals: {user: @user} %>
<% end %>

<% content_for :content do %>

<div class="following list-group">
  <% @followings.each do |user| %>
  <%= render partial: 'user', locals: {user: user} %>
  <% end %>
</div>

<% end %>
