<% content_for :profile do %>
<%= render partial: 'profile', locals: {user: @user} %>
<% end %>

<% content_for :content do %>

<%= content_tag :em, 'No followers found.', class: 'small' if @followers.empty? %>

<div class="follower list-group">
  <% @followers.each do |user| %>
  <%= render partial: 'user', locals: {user: user} %>
  <% end %>
</div>

<% end %>
