<div class='new-tweet-form'>
  <%= simple_form_for Tweet.new, url: tweets_path, method: :post, remote: true do |f| %>
  <%= f.input_field :body, label: false, placeholder: "What's happening?", class: 'form-control' %>
  <%= f.button :submit, "Tweet" %>
  <% end %>
</div>

<ul class="tweets list-group">
  <% current_user.home_tweets.each do |tweet| %>
  <%= render partial: 'tweets/tweet', locals: {tweet: tweet} %>
  <% end %>
</ul>
