/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*/

html {
  font-size: 14px;
}

body {
  font-family: 'Work Sans', sans-serif;
}

.flash-banner {
  z-index: 1031;
  position: fixed;
  top: 0;
  opacity: 0.8;
}

.flash-banner p {
  line-height: 4;
  font-weight: bolder;
}

.prelogin-page {
  background-image: url('prelogin_page_background');
  background-size: cover;
  height: 100vh;
}

#login-form, #signup-form, #password-reset-form, #edit-user-form {
  background-color: white;
}

.welcome > h3 {
  color: white;
}
.welcome > h5 {
  color: white;
}

.btn:hover {
  cursor: pointer;
}

.landing-page .notice {
  color: black;
}

.landing-page .alert {
  color: red;
}

.dropdown-menu {
  left: -400%;
}
