// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container-fluid.pages {
  margin-top: 50px;
}

.notice:empty {
  display: none;
}

.alert:empty {
  display: none;
}

.notice {
  color: green;
}

.alert {
  color: red;
}

.text.required.form-control {
  margin-bottom: 10px;
}

.new-tweet-form {
  margin-bottom: 10px;
}

.current-user-avatar:hover {
  cursor: pointer;
}

.filestack-btn {
  display: none;
}
