// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container-fluid.pages {
  padding-top: 50px;
  padding-bottom: 20px;
  // background-color: #e6ecf0;
  min-height: 100vh;
  background: #E0EAFC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #CFDEF3, #E0EAFC);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.notice:empty {
  display: none;
}

.alert:empty {
  display: none;
}

.notice {
  color: green;
}

.alert {
  color: red;
}

.new-tweet-form textarea {
  resize: none;
}

.current-user-avatar:hover {
  cursor: pointer;
}

.filestack-btn {
  display: none;
}

.tweets p {
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
